.Lobby_card {
  margin-left: 20px;
  margin-top: 20px;
  height: 250px;
  width: 300px;
  display: block! important;
  float: left! important;
}

.Lobby .paper {
  margin-top: 40px;
  padding: 10px;
  text-align: left;
}

.Paper{
  height: 200px;
  width: 500px;
  margin-bottom:  20px;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: 'center';
  display: block! important;
  float: left! important;
}
